
body{font-family:Arial;background:#f5f5f5}

.topbar{
padding:10px;
background:#fff;
border-bottom:1px solid #ccc;
}

.menu{
background:#111;
color:#fff;
padding:10px;
}

.menu a{
display:block;
margin:10px 0;
cursor:pointer;
}

.modal{
display:none;
position:fixed;
top:30%;
left:30%;
background:#fff;
padding:20px;
border:1px solid #ccc;
}

.modal.active{
display:block;
}
