
body{
margin:0;
font-family:Arial;
background:#fff;
}

.topo{
text-align:center;
padding:20px;
font-size:22px;
font-weight:bold;
}

.busca{
display:flex;
justify-content:center;
padding:10px;
}

.busca input{
width:90%;
padding:12px;
border-radius:20px;
border:1px solid #ccc;
outline:none;
}

#vitrine{
display:flex;
flex-direction:column;
gap:15px;
padding:10px;
}

.card{
display:flex;
gap:10px;
align-items:center;
padding:10px;
border-bottom:1px solid #eee;
}

.card img{
width:80px;
height:80px;
object-fit:cover;
border-radius:10px;
}

.preco{
color:green;
font-weight:bold;
}
