body{
margin:0;
padding:10px;
font-family:Arial;
background:#f5f5f5;
}

.topo{
font-size:24px;
font-weight:bold;
text-align:center;
padding:20px;
}

.busca{
margin-bottom:20px;
}

.busca input{

width:100%;
padding:12px;

border-radius:30px;

border:1px solid #ccc;

box-sizing:border-box;

}


/* Mosaico estilo Google */

#vitrine{

column-count:2;
column-gap:10px;

}

.card{

background:white;

margin-bottom:10px;

border-radius:15px;

overflow:hidden;

break-inside:avoid;

box-shadow:0 2px 5px rgba(0,0,0,.1);

}

.card img{

width:100%;
height:auto;

display:block;

}

.info{

padding:10px;

}

.preco{

color:green;
font-weight:bold;

}
